* {
  box-sizing: border-box;
}

body {
background: url('images/clutter.jpeg');
background-repeat: no-repeat;
background-size: cover;
margin: 0;
text-align: center;
font-family: 'Roboto', sans-serif;
}

.main-nav {
  color: white;
  background-color: black;
  width: 100%;
  text-align: left;
}

.name {
  opacity: .4;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
  text-align: right;
  padding: 10px 15px;
  font-weight: bold;
}

header h1 {
  font-weight: 900;
  margin-top: 30px;
  color: #FFFDE8;
  text-shadow: 4px 3px 0px black;
}

header {
  text-align: center;
  padding-top: 60px;
  margin-bottom: 100px;
}

.self-portrait {
  border: 3px solid white;
  border-radius: 25%;
}

.group {
  text-align: center;
}


.body-background {
  position: relative;
  margin-left: 2.5%;
  padding: 0px 10px 10px 10px;
  background-color: white;
  border-radius: 20px;
  float: left;
  width: 46.5%;
  box-shadow: 0px 0px 90px;
}

.body-goals {
  position: relative;
  margin-right: 2.5%;
  padding: 0px 10px 10px 10px;
  background-color: white;
  border-radius: 20px;
  float: right;
  width: 46.5%;
  box-shadow: 0px 0px 90px;
}

.group::after {
  content: "";
  display: table;
  clear: both;
}

footer {
    width: 100%;
    margin-top: 100px;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
  list-style-type: none;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}

a.twitter {
  background-image: url(images/twitter.png);
}

a.linkedin {
  background-image: url(images/linkedin.png);
}

a.github {
  background-image: url(images/github.png);

}

a.social:hover {
  opacity: 1;
}

.name:hover {
  opacity: 1;
}

/* Media Queries */

@media (max-width: 400px){
  .body-goals, .body-background {
    float: none;
    margin: auto;
    width: 95%;
  }
  .body-background {
    padding-top: 2px;
  }
}
